{% extends 'base.html' %} {% block content %}
<h2 class="mb-4 text-center text-orange">Contact Info</h2>

<div class="row justify-content-center">
  <div class="col-md-7">
    <!-- Card with custom background color -->
    <div class="card bg-dark text-light">
      <div class="card-body">
        <p class="card-text">
          If you'd like to reach out, feel free to contact me via the
          information below. I'm always open to discussing new opportunities,
          collaborations, or just having a good tech chat!
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-dark text-light">
            <strong>Email:</strong> alfarabijsr@gmmail.coom
          </li>
          <li class="list-group-item bg-dark text-light">
            <strong>Phone:</strong> 081290404648
          </li>
          <li class="list-group-item bg-dark text-light">
            <strong>GitHub:</strong>
            <a
              href="https://github.com/Nishina098"
              target="_blank"
              class="text-light"
              >github.com/example</a
            >
          </li>
          <li class="list-group-item bg-dark text-light">
            <strong>Instagram:</strong>
            <a
              href="https://instagram.com/fajar_maudin"
              target="_blank"
              class="text-light"
              >instagram.com/example</a
            >
          </li>
          <li class="list-group-item bg-dark text-light">
            <strong>Linkedin:</strong>
            <a
              href="https://www.linkedin.com/in/muhammad-al-farabi-4b59172b6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank"
              class="text-light"
              >facebook.com/example</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
